@import "tailwindcss";

:root {
  --background: #ececec;
  --foreground: #171717;

  /* footer bg and  brand Color */
  --brand-teal: #007e85;

  /* footer icons color */
  --brand-gray: #555555;

  /* I need to setup typography */

  --text-display: 40px;
  --text-h1: 32px;
  --text-h2: 24px;
  --text-body: 18px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans); 
  --font-mono: var(--font-dm-mono);
  --font-tera: var(--font-lexend-tera);

  /* footer dynamic color: */
  --color-brand-teal: var(--brand-teal);

  /* footer icon color: */
  --color-gray-footer : var(--brand-gray);

}

/* utility class for page container */

@utility page-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
} 

/* utility classes for header: */



@utility btn-primary {
  font-family: var(--font-lexend-tera);
  background-color: var(--brand-teal);
  color: #ffffff;
  padding: 12px 32px ; /* Top/Bottom and Left/Right padding */
  border-radius: 8px;
  font-weight: 600;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.9;
  }
}

@utility nav-text {
  font-family: var(--font-lexend-tera), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1; 
  letter-spacing: -0.14px; 
  text-transform: capitalize;
}

/* utility classes for dynamic footer items typography */

/* DISPLAY (Hero headings) */
@utility text-display {
  font-family: var(--font-lato);
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

/* HEADINGS */
@utility text-h1 {
  font-family: var(--font-lato);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
}

@utility text-h2 {
  font-family: var(--font-dm-sans);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

@utility text-h3 {
  font-family: var(--font-dm-sans);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  font-weight: 700;
}

/* BODY */
@utility text-body {
  font-family: var(--font-dm-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

/* SMALL TEXT */
@utility text-small {
  font-family: var(--font-dm-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

@utility footer-icon-color {
  color: var(--color-gray-footer);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ececec;
    --foreground: #ececec;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animate-scroll {
  animation: scroll 2s ease-in-out infinite;
}